body {
  overflow-anchor: none;
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  color: var(--color-dark);
  background-color: var(--color-white);
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  padding: 0;
  background: 0 0;
}

.site-wrapper {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 40px;

  @include xs {
    padding: 0 15px;
  }
}

.container-narrow {
  max-width: 1406px;
}
