@import './vars';
@import './mixins';
@import './fonts';
@import './reset';

body {
  overflow-anchor: none;
  margin: 0;
  font-family: "Jost", sans-serif;
  font-weight: 500;
  color: var(--color-dark);
  background-color: var(--color-white);

  padding: 50px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

