@import '../../../scss/mixins';

.container {
  padding-top: 55px;
  padding-bottom: 55px;

  @include md {
    padding-bottom: 0;
  }
}

.nav {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
}

.navItem {
  margin: 0 18px;

  @include xs {
    margin: 0 10px;
  }
}

.navButton {
  font-size: 24px;

  &._current {
    &::before {
      opacity: 1;
      transition: opacity 0.15s;
    }
  }

  @include sm {
    font-size: 20px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin-right: 1.8%;
  margin-bottom: 80px;
  width: 18.5%;

  &:nth-last-child(-n + 5) {
    margin-bottom: 0;

    @include md {
      margin-bottom: 50px;
    }

    @include xs {
      margin-bottom: 30px;
    }
  }

  &:nth-child(5n) {
    margin-right: 0;

    @include md {
      margin-right: 5%;
    }

    @include xs {
      margin-right: 4%;
    }
  }

  &:nth-child(3n) {
    @include md {
      margin-right: 0;
    }

    @include xs {
      margin-right: 4%;
    }
  }

  &:nth-child(2n) {
    @include xs {
      margin-right: 0;
    }
  }

  @include md {
    margin-right: 5%;
    width: 30%;
  }

  @include xs {
    margin-right: 4%;
    width: 48%;
  }
}

.btnCenter {
  text-align: center;
}

