@import '../../../scss/mixins';

.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;

  &Inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 36px;

    @include xs {
      padding: 20px 15px;
    }
  }

  &ShopNav {
    margin-left: 250px;

    @include md {
      margin-left: 0;
    }
  }
}

.nav {
  &Close {
    display: none;

    @include md {
      position: absolute;
      right: 10%;
      top: 4%;
      display: block;
    }
  }

  @include md {
    position: fixed;
    left: -150vw;
    top: 0;
    padding: 10% 0;
    width: 80%;
    height: 100vh;
    background-color: #fff;
    transition: left 0.3s;
  }
}

.burger {
  position: relative;
  display: none;
  width: 25px;
  height: 18px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-dark);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--color-dark);
  }

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--color-dark);
    transform: translateY(-50%);
  }

  @include md {
    display: block;
  }
}

.nav {
  &List {
    display: flex;

    @include md {
      display: block;
    }
  }

  &Item {
    &:not(:last-child) {
      margin-right: 45px;

      @include md {
        margin-right: 0;
      }
    }
  }

  &_visible {
    left: 0;
    transition: left 0.3s;
  }
}
